.pt-5,
.py-5 {
  padding-top: 3rem !important;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url(https://static.pingendo.com/cover-bubble-dark.svg);
  background-position: center center, center center;
  background-size: cover, cover;
  background-repeat: repeat, repeat;
}
